<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - Roseline DB</title>
        <meta name="description" content="Search AGTH hooks and VNDB database."/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/app.bundle.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="/favicon.png">
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="c-nav c-nav--inline">
            <a class="c-nav__item" href="/">AGTH Hooks</a>
            <a class="c-nav__item" href="/vndb">VNDB</a>
            <a class="c-nav__item c-nav__item--right" href="/dump.db">Database Dump</a>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>
